<section class="container-section">
  <nav>
    <ul>
      <div class="perfil">
        <img src="{{avatar}}" alt="{{username}}">
        <p class="username">{{username}}</p>
      </div>
      <div class="nova-categoria">
        <input [(ngModel)]='novaCategoria.nome' type="text" name="categoria" id="categoria" placeholder="Nova categoria" />
        <button type="submit" (click)='adicionarCategoria()' >Adicionar</button>
      </div>
      <hr />
      <a routerLink="/home" *ngFor='let item of categoriaArray' >
        <img src="../../assets/img/note.png" alt="{{item.nome}}" (click)='findByIdListaCategoria(item.id)'>
        <p class="texto" (click)='findByIdListaCategoria(item.id)' >{{item.nome}}</p>
        <p class="qt-tens" (click)='findByIdListaCategoria(item.id)' >{{item.lista.length}}</p>
        <div class="icone" data-bs-toggle="modal" data-bs-target="#putCategoria" (click)='carregaCategoriaPorId(item.id)'>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>
        </div>
      </a>
    </ul>
  </nav>
  <div class="lista-categoria">
    <h1>{{categoria.nome}}</h1>
    <ul>
      <a *ngFor='let item of categoria.lista' >
        <div class="icone" *ngIf="item.ativo" (click)='alterarStatusItemLista(item)' >
          <img src="../../assets/img/certo-icone.png" alt="{{item.texto}}">
        </div>
        <div class="icone" *ngIf="!item.ativo" (click)='alterarStatusItemLista(item)' >
          <img src="../../assets/img/errado-icone.png" alt="{{item.texto}}">
        </div>
        <p class="texto-desativo" *ngIf="item.ativo" (click)='alterarStatusItemLista(item)' >
          {{item.texto}}
        </p>
        <p class="texto-ativo" *ngIf="!item.ativo" (click)='alterarStatusItemLista(item)' >
          {{item.texto}}
        </p>
        <a class="icone" data-bs-toggle="modal" data-bs-target="#putLista" (click)='carregaItemLista(item.id)' >
          <img src="../../assets/img/editar-icone.png" alt="{{item.texto}}" >
        </a>
      </a>
      <div class="novo-item-lista" *ngIf="categoria.nome != null" >
        <input [(ngModel)]='novaLista.texto' type="text" name="lista" id="lista" placeholder="Novo item" />
        <button type="submit" (click)='adicionarItemLista()' >Adicionar item</button>
      </div>
    </ul>
  </div>
</section>

<!-- MODAL DE LISTA / PUT -->
<div class="modal fade" id="putLista" tabindex="-1" role="dialog" aria-labelledby="modalPutLista" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title texto-bold" id="texto">Atualizar lista</h2>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <input [(ngModel)]='carregaListaParaEdicao.texto' type="text" name="texto" class="modal-input" id="texto" placeholder="Texto">
        </div>
        <div class="modal-footer">
            <button type="button" (click)='atualizaLista()' data-bs-dismiss="modal" aria-label="Close" >Atualizar</button>
        </div>
      </div>
  </div>
</div>

<!-- MODAL DE CATEGORIA / PUT -->
<div class="modal fade" id="putCategoria" tabindex="-1" role="dialog" aria-labelledby="modalPutCategoria" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title texto-bold" id="categoria">Atualizar categoria</h2>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <input [(ngModel)]='carregaCategoriaParaEdicao.nome' type="text" name="texto" class="modal-input" id="texto" placeholder="Texto">
        </div>
        <div class="modal-footer">
            <button type="button" (click)='atualizaCategoria()' data-bs-dismiss="modal" aria-label="Close" >Atualizar</button>
        </div>
      </div>
  </div>
</div>
