.container-section {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container-section nav {
  width: 25%;
  height: 100vh;

  background-color: var(--background-sidebar);

}

.container-section nav ul {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

.container-section nav ul a {
  text-decoration: none;

  padding: 1% 2%;
  margin-top: 5%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;

  border-left: 4px solid var(--background-sidebar);

  color: var(--text-black-lista);

  transition: border, color, .3s ease-in-out;

}

.container-section nav ul .perfil {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

.container-section nav ul .perfil img {
  padding: 5% 2% 1% 4%;

  width: 15%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;

  color: var(--text-black-lista);

}

.container-section nav ul .perfil .username {
  padding: 5% 2% 1% 1%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 500;

  color: var(--text-black-lista);

}

.container-section nav ul .nova-categoria {
  padding: 0% 4%;
  margin-top: 1%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container-section nav ul .nova-categoria input {
  padding: 1% 2%;

  width: 70%;
  height: auto;

  border: none;
  border-radius: 5px;

  outline: none;

  background-color: var(--background-global);

  color: var(--text-black-lista);

  display: flex;
  align-items: center;
  justify-content: center;

}

.container-section nav ul .nova-categoria button {
  padding: 1% 2%;

  width: 25%;
  height: auto;

  border: none;
  border-radius: 5px;

  outline: none;

  background-color: var(--text-green-titulo);

  font-weight: 500;

  color: var(--text-white);

  display: flex;
  align-items: center;
  justify-content: center;

}

.container-section nav ul a:focus {
  border-left: 4px solid var(--text-green-titulo);

  color: var(--text-green-titulo);

}

.container-section nav ul a img {
  width: 9%;
  height: auto;

}

.container-section nav ul a .texto {
  width: 76%;
  height: auto;

}

.container-section nav ul a .qt-tens {
  color: var(--text-qt-tens);

  width: 5%;
  height: auto;

}

.container-section .lista-categoria {
  width: 73%;
  height: 100vh;

  margin-left: 1%;

}

.container-section .lista-categoria h1 {
  margin-bottom: 3%;

  font-weight: 600;

  color: var(--text-green-titulo);

}

.container-section .lista-categoria ul {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

.container-section .lista-categoria ul a {
  list-style: none;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 18px;
  font-weight: 400;

  transition: background-color, .3s ease-in-out;

  color: var(--text-black-lista);

}

.container-section .lista-categoria ul a .texto-desativo {
  text-decoration: line-through;

  cursor: pointer;

  width: 90%;
  height: auto;

}

.container-section .lista-categoria ul a .texto-ativo {
  cursor: pointer;

  width: 90%;
  height: auto;

}

.container-section .lista-categoria ul a .icone {
  margin-right: 2%;
  width: 2%;
  height: auto;

  cursor: pointer;

  text-decoration: none;

}

.container-section .lista-categoria ul a .icone img {
  width: 100%;
  height: auto;

}

.container-section .lista-categoria ul .novo-item-lista {
  padding: 0% 4% 0% 0%;
  margin-top: 1%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container-section .lista-categoria ul .novo-item-lista input {
  padding: 1% 0%;

  width: 75%;
  height: auto;

  background-color: turquoise;

  border: none;
  border-bottom: 2px solid transparent !important;
  border-radius: 0px;

  outline: none;

  background-color: var(--background-global);

  color: var(--text-black-lista);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-bottom, .3 ease-in-out;

}

.container-section .lista-categoria ul .novo-item-lista input:focus {
  border-bottom: 2px solid var(--text-green-titulo) !important;

}

.container-section .lista-categoria ul .novo-item-lista button {
  padding: 1% 2%;

  width: 15%;
  height: auto;

  border: none;
  border-radius: 5px;

  outline: none;

  background-color: var(--text-green-titulo);

  font-weight: 500;

  color: var(--text-white);

  display: flex;
  align-items: center;
  justify-content: center;

}
